// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary:#800085;
$secondary:#adb5bd;
$success:#083d6e;
$info:#0dcaf0;
$warning:#aa6600;
$danger:#990637;
// $light:#fff;
// $dark:#000;


// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
// Create your own map
$dark-blue: (
  "dark-black": #303438
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $dark-blue);

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
$navbar-dark-active-color:$info;
$navbar-dark-brand-color:$white;


// Include all of Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200;400;600&display=swap');
body{
  background-color:$gray-500;
  font-family: 'Poppins', sans-serif;
}
.navbar-brand{
  font-family: 'Pacifico', cursive;
}